@font-face {
  font-family: Roboto;
  src: url(fonts/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: Heebo;
  src: url(fonts/Heebo-Regular.ttf);
}
@font-face {
  font-family: Kanit;
  src: url(fonts/Kanit-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppinsbold;
  src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: montserratMedium;
  src: url(fonts/Montserrat-Medium.ttf);
}
body {
  margin: 0%;
  background-color: white;
}
.navLogo {
  position: absolute;
  top: 0vh;
  left: 0%;
  width: 100%;
  padding: 0.5%;
  padding-top: 0.5;
  padding-left: 10%;
  padding-right: 15%;
  z-index: var(--z-fixed);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(146, 161, 176, 0.15) 0px 1px 4px;
}
.navLogo h1 {
  height: 0vh;
  margin: 0%;
  font-family: Poppins;
  font-size: 4vh;
}
.nav-link:hover {
  background-color: rgb(245, 245, 245);
}
.nav-link {
  font-family: montserratMedium;
  margin-left: 5%;
  color: black !important;
  font-size: 2.5vh;
}
.bg-dark {
  background-color: rgb(0, 0, 61) !important;
}
.toggelHeading {
  color: black;
  font-family: poppins;
}
#toggleBar {
  display: none;
  box-shadow: rgba(146, 161, 176, 0.15) 0px 1px 4px;
}
.home h1 {
  font-family: poppins;
  color: rgb(0, 0, 61);
  font-size: 7vh;
  line-height: 10vh;
  display: inline;
  float: left;
  margin-top: 5%;
}
.home p {
  font-family: roboto;
  font-size: 2.5vh;
  width: 36%;
  color: rgb(98, 98, 98);
}
.home {
  margin: 5% 10%;
}
.homeProfilelogo img {
  float: right;
  width: 50%;
  object-fit: cover;
  height: 55vh;
  display: flex;
  float: right;
  position: relative;
  top: -40vh;
  margin-top: 2%;
}
.homeTitle b {
  color: blue;
}
.links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin-top: 2%;
}
.links img {
  height: 6vh;
  object-fit: cover;
}
.links img:hover {
  filter: grayscale(1);
}
#contactButton {
  font-size: 2.5vh;
  font-family: "poppins";
  background-color: #5371ff;
  color: white;
  margin-top: 2%;
  border: none;
}
#contactButton:hover {
  color: #5371ff;
  border: 0.2vh solid #5371ff;
  background-color: white;
}
.skill {
  margin: 5% 10%;
  display: flex;
  flex-direction: row-reverse;
  height: 35vh;
  width: 80%;
  position: relative;
  top: -25vh;
  justify-content: space-between;
}
.skillDetail {
  width: 100%;
}
.skillImg {
  width: 80%;
}
.skillImg img {
  height: auto;
  width: 80%;
  border-radius: 2vh;
  object-fit: cover;
}
.skillDetail h1 {
  font-family: poppins;
}
.skillDetail p {
  font-family: roboto;
  font-size: 2vh;
  width: 100%;
  color: rgb(98, 98, 98);
}
.skillDetail img {
  height: 6vh;
}
.skillDetail li img:hover {
  filter: invert(40%) sepia(25%) saturate(2824%) hue-rotate(206deg)
    brightness(103%) contrast(101%);
}
.skillDetail li {
  list-style: none;
  display: inline-block;
  margin: 1%;
  font-size: 2vh;
  font-family: poppins;
  text-align: center;
}
.skillDetail h2 {
  font-family: montserrat;
  font-size: 2.2vh;
  width: 100%;
  margin: 2% 0%;
  color: rgb(98, 98, 98);
}
.skillDetail h2 img {
  height: 4vh;
}
.workExperiencesTitel {
  text-align: center;
  font-family: poppins;
  color: rgb(0, 0, 61);
  font-size: 6vh;
}
.workExperiences {
  margin: 1% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.workExperiencesCard1 {
  height: 40vh;
  width: 25%;
  margin: 2% 2%;
  text-align: center;
  font-family: montserratMedium;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 1vh;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.workExperiencesCard1 h1 {
  line-height: 2;
  height: 15vh;
  color: white;
  font-family: roboto;
  font-size: 4vh;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  background-color: #003912;
}
.workExperiencesCard1 img {
  margin: auto;
  height: 13vh;
  width: auto;
  margin-top: -15%;
  margin-bottom: 5%;
}
.workExperiencesCard2 {
  height: 40vh;
  width: 25%;
  margin: 2% 2%;
  text-align: center;
  font-family: montserratMedium;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 1vh;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.workExperiencesCard2 h1 {
  line-height: 2;
  height: 15vh;
  color: white;
  font-family: roboto;
  font-size: 4vh;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  background-color: #1e4354;
}
.workExperiencesCard2 img {
  margin: auto;
  height: 13vh;
  width: auto;
  margin-top: -15%;
  margin-bottom: 5%;
}
.workExperiencesCard3 {
  height: 40vh;
  width: 25%;
  margin: 2% 2%;
  text-align: center;
  font-family: montserratMedium;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 1vh;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.workExperiencesCard3 h1 {
  line-height: 2;
  height: 15vh;
  font-size: 4vh;
  font-family: roboto;
  color: white;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  background: linear-gradient(184deg, #1177cb -14.88%, #0b1071 101.7%);
}
.workExperiencesCard3 img {
  margin: auto;
  height: 8vh;
  width: 35%;
  margin-top: -12%;
  margin-bottom: 15%;
}
.workExperiencesCard4 {
  height: 40vh;
  width: 25%;
  margin: 2% 2%;
  text-align: center;
  font-family: montserratMedium;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 1vh;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.workExperiencesCard4 h1 {
  line-height: 2;
  height: 15vh;
  color: white;
  font-family: roboto;
  font-size: 4vh;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  background: linear-gradient(
    101.66deg,
    rgba(64, 255, 94, 0.5) -14.88%,
    rgba(18, 196, 131, 0.5) 101.7%
  );
}
.workExperiencesCard4 img {
  margin: auto;
  object-fit: cover;
  height: 15vh;
  width: 40%;
  margin-top: -15%;
  margin-bottom: 5%;
}
.workExperiencesCard5 {
  height: 40vh;
  width: 25%;
  margin: 2% 2%;
  text-align: center;
  font-family: montserratMedium;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 1vh;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.workExperiencesCard5 h1 {
  line-height: 2;
  height: 15vh;
  font-size: 4vh;
  color: white;
  font-family: roboto;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  background-color: rgb(83, 83, 83);
}
.workExperiencesCard5 img {
  margin: auto;
  height: 13vh;
  width: auto;
  margin-top: -15%;
  margin-bottom: 10%;
}
.workExperiencesCard6 {
  height: 45vh;
  width: 25%;
  margin: 2% 2%;
  text-align: center;
  font-family: montserratMedium;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 1vh;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.workExperiencesCard6 h1 {
  line-height: 2;
  height: 15vh;
  font-size: 4vh;
  color: white;
  font-family: roboto;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  background: linear-gradient(
    101.66deg,
    #ababc8 -14.88%,
    rgba(188, 189, 212, 0.991) 101.7%
  );
}
.workExperiencesCard6 img {
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
  width: 40%;
  margin-top: -15%;
  margin-bottom: 10%;
}
.workExperiencesCard7 {
  height: 45vh;
  width: 25%;
  margin: 2% 2%;
  text-align: center;
  font-family: montserratMedium;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 1vh;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.workExperiencesCard7 h1 {
  line-height: 2;
  height: 15vh;
  font-size: 4vh;
  color: White;
  font-family: roboto;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  background: linear-gradient(
    101.66deg,
    rgba(64, 255, 94, 0.5) -14.88%,
    rgba(18, 196, 131, 0.5) 101.7%
  );
}
.workExperiencesCard7 img {
  margin: auto;
  width: 40%;
  height: 15vh;
  padding: 1%;
  border-radius: 50%;
  background-color: white;
  margin-top: -15%;
  margin-bottom: 10%;
}
.workExperiencesCard1 h2,
.workExperiencesCard2 h2,
.workExperiencesCard3 h2,
.workExperiencesCard4 h2,
.workExperiencesCard5 h2,
.workExperiencesCard6 h2,
.workExperiencesCard7 h2 {
  font-size: 2.5vh;
}
.workExperiencesCard1 h3,
.workExperiencesCard2 h3,
.workExperiencesCard3 h3,
.workExperiencesCard4 h3,
.workExperiencesCard5 h3,
.workExperiencesCard6 h3,
.workExperiencesCard7 h3 {
  font-size: 2vh;
}
.contactSection {
  display: flex;
  justify-content: space-evenly;
}
.contactSection1,
.contactSection2,
.contactSection3 {
  width: 20%;
  height: 15vh;
  font-family: poppins;
}
.contactSection1 img,
.contactSection2 img,
.contactSection3 img {
  height: 5vh;
  display: flex;
  margin: auto;
  margin-bottom: 5%;
}
.contactSection1 h1,
.contactSection2 h1,
.contactSection3 h1 {
  font-size: 2vh;
  text-align: center;
  color: black;
}
.about {
  color: white;
  font-family: montserrat;
  width: 100%;
  height: 30vh;
  margin-top: 10%;
  text-align: center;
  background-color: rgb(0, 0, 61);
}
.about .links {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 2%;
}
.about h1 {
  padding-top: 2vw;
  margin-bottom: 2%;
  font-size: 4vh;
  font-family: poppins;
}
.about h2 {
  font-size: 2vh;
}
.about h2 b {
  font-family: montserratMedium;
}
.about .links img {
  filter: invert(1);
}
.contactSectionTitel {
  text-align: center;
  font-family: poppins;
  color: rgb(0, 0, 61);
  font-size: 6vh;
  margin-top: 5%;
  margin-bottom: 5%;
}
#submitButton {
  font-size: 2.5vh;
  font-family: "poppins";
  background-color: #5371ff;
  color: white;
  position: relative;
  top: 2vw;
  margin: auto;
  display: flex;
  border: none;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0%;
  }
  .home h1 {
    font-size: 4vh;
    line-height: 6vh;
    width: 100%;
  }
  .home {
    margin: 6%;
  }
  .nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .navbar {
    padding: 5%;
  }
  .nav-link:hover {
    background-color: transparent;
  }
  #toggleMenu {
    margin: -3%;
  }
  #toggleBar {
    display: block;
  }
  .navLogo {
    display: none;
  }
  .nav-link {
    color: white !important;
    margin-left: 0%;
  }
  li {
    display: block !important;
  }
  #navMenu {
    display: none;
  }
  .home p {
    font-size: 2vh;
    width: 95%;
  }
  .homeProfilelogo img {
    width: 100%;
    height: 40vh;
    margin-bottom: 5%;
    float: unset;
    object-fit: cover;
    position: relative;
    top: 0vh;
  }
  .links img {
    height: 5vh;
  }
  .links {
    width: 100%;
    margin: 0%;
  }
  #contactButton {
    margin: auto;
    margin-top: 10%;
    display: flex;
  }
  .skill {
    position: relative;
    top: 0%;
    display: block;
    margin-top: 10vh;
  }
  .skill li {
    margin-right: 8%;
  }
  .skillDetail ul {
    width: 100%;
    height: 30vh;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  .skillImg {
    width: 100%;
  }
  .skillImg img {
    height: auto;
    width: 100%;
    margin: 10% 0%;
    border-radius: 2vh;
    object-fit: cover;
  }
  .workExperiences {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1% 1%;
  }
  .workExperiencesCard1,
  .workExperiencesCard2,
  .workExperiencesCard3,
  .workExperiencesCard4,
  .workExperiencesCard5,
  .workExperiencesCard6,
  .workExperiencesCard7 {
    width: 45%;
    height: 40vh;
    margin-bottom: 10%;
    font-size: 1vh;
  }
  .workExperiencesCard1 h2,
  .workExperiencesCard2 h2,
  .workExperiencesCard3 h2,
  .workExperiencesCard4 h2,
  .workExperiencesCard5 h2,
  .workExperiencesCard6 h2,
  .workExperiencesCard7 h2 {
    font-size: 3vh;
  }
  .workExperiencesCard1 h3,
  .workExperiencesCard2 h3,
  .workExperiencesCard3 h3,
  .workExperiencesCard4 h3,
  .workExperiencesCard5 h3,
  .workExperiencesCard6 h3,
  .workExperiencesCard7 h3 {
    font-size: 2vh;
    margin-bottom: 10%;
  }
  .workExperiencesTitel {
    font-size: 4vh;
    margin-bottom: 5vh;
    margin-top: 85vh;
  }
  .about h1 {
    font-size: 7vw;
    margin-bottom: 8%;
  }
  .about .links {
    margin-bottom: 8%;
  }
  .about h2 {
    font-size: 1.5vh;
  }
  .contactSectionTitel {
    margin-top: 20vw;
    margin-bottom: 5vw;
  }
  .contactSection {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .contactSection1,
  .contactSection2,
  .contactSection3 {
    width: 100%;
  }
}



@media screen and (max-width: 600px) {
  body {
    margin: 0%;
  }
  .home h1 {
    font-size: 4vh;
    line-height: 6vh;
    width: 100%;
  }
  .home {
    margin: 6%;
  }
  .nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .navbar {
    padding: 5%;
  }
  .nav-link:hover {
    background-color: transparent;
  }
  #toggleMenu {
    margin: -3%;
  }
  #toggleBar {
    display: block;
  }
  .navLogo {
    display: none;
  }
  .nav-link {
    color: white !important;
    margin-left: 0%;
  }
  li {
    display: block !important;
  }
  #navMenu {
    display: none;
  }
  .home p {
    font-size: 2vh;
    width: 95%;
  }
  .homeProfilelogo img {
    width: 100%;
    height: 30vh;
    margin-bottom: 5%;
    float: unset;
    object-fit: cover;
    position: relative;
    top: 0vh;
  }
  .links img {
    height: 5vh;
  }
  .links {
    width: 100%;
    margin: 0%;
  }
  #contactButton {
    margin: auto;
    margin-top: 10%;
    display: flex;
  }
  .skill {
    position: relative;
    top: 0%;
    display: block;
    margin-top: 10vh;
  }
  .skill li {
    margin-right: 8%;
  }
  .skillDetail ul {
    width: 100%;
    height: 30vh;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  .skillImg {
    width: 100%;
  }
  .skillImg img {
    height: auto;
    width: 100%;
    margin: 10% 0%;
    border-radius: 2vh;
    object-fit: cover;
  }
  .workExperiences {
    display: block;
    margin: 1% 10%;
  }
  .workExperiencesCard1,
  .workExperiencesCard2,
  .workExperiencesCard3,
  .workExperiencesCard4,
  .workExperiencesCard5,
  .workExperiencesCard6,
  .workExperiencesCard7 {
    width: 95%;
    height: 45vh;
    margin-bottom: 10%;
    font-size: 1vh;
  }
  .workExperiencesCard1 h2,
  .workExperiencesCard2 h2,
  .workExperiencesCard3 h2,
  .workExperiencesCard4 h2,
  .workExperiencesCard5 h2,
  .workExperiencesCard6 h2,
  .workExperiencesCard7 h2 {
    font-size: 3vh;
  }
  .workExperiencesCard1 h3,
  .workExperiencesCard2 h3,
  .workExperiencesCard3 h3,
  .workExperiencesCard4 h3,
  .workExperiencesCard5 h3,
  .workExperiencesCard6 h3,
  .workExperiencesCard7 h3 {
    font-size: 2vh;
    margin-bottom: 10%;
  }
  .workExperiencesTitel {
    font-size: 4vh;
    margin-bottom: 5vh;
    margin-top: 85vh;
  }
  .about h1 {
    font-size: 7vw;
    margin-bottom: 8%;
  }
  .about .links {
    margin-bottom: 8%;
  }
  .about h2 {
    font-size: 1.5vh;
  }
  .contactSectionTitel {
    margin-top: 20vw;
    margin-bottom: 5vw;
  }
  .contactSection {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .contactSection1,
  .contactSection2,
  .contactSection3 {
    width: 100%;
  }
}
